VM1_HOST=37.187.88.65
VM1_USER=ubuntu
VM1_PASSWORD=replace
VM1_PORT=22
GHCR_PAT=replace

COMPOSER_PUBLIC_KEY=replace
COMPOSER_PRIVATE_KEY=replace

MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=replace
MYSQL_ROOT_PASSWORD=replace
REDIS_PASSWORD=replace
OPENSEARCH_INITIAL_ADMIN_PASSWORD=replace

MAGENTO_ADMIN_USER=replace
MAGENTO_ADMIN_PASSWORD=replace
MAGENTO_ADMIN_EMAIL=replace

MAGENTO_VERSION=2.4.8-p3
MAGENTO_BASE_URL=https://magento.gama-software.com/
MAGENTO_BACKEND_FRONTNAME=admin
MAGENTO_ADMIN_FIRSTNAME=Admin
MAGENTO_ADMIN_LASTNAME=User
